body {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    max-width: 640px;
    min-width: 320px;
    margin: auto;
}

a {
    color: #600;
}

h1 {
    color: #600;
}

.datetime {
    margin-top: 30px;
    font-size: .85em;
}

.post {
    padding: 10px;
}

.next {
    font-size: .9em;
}

footer {
    padding: 26px 0;
    font-size: .9em;
}

footer ul {/* override chrome user agent styles for footer */
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    float: right;
}

footer li {
    display: inline;/* make li horizontal */
    border-left:1px solid #ccc;/* border between li */
    margin-left:.6em;
    padding-left:.6em;
}

footer li.first {
    border-left: none;/* no border before first li */
}

footer li.last a { /* for ie */
    text-decoration: none;
}

.tags ul {/* override chrome user agent styles for footer */
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.tags li {
    display: inline;/* make li horizontal */
    margin-left:.6em;
    padding-left:.6em;
}

.tags p {
    display: inline;/* make li horizontal */
}